@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply dark:bg-trueGray-900;
  }
}

@media (max-width: 768px) {
  .ant-layout {
    padding-top: 80px; /* Adjust the padding as needed */
  }
}


.ant-form-item-label {
    font-family:  sans-serif;
    
}

.ant-btn-primary {
  background-color: black; /* Replace with your primary color */
  border-color: black; /* Replace with your primary color */
  color: #fff; /* Text color */
}

.ant-btn-primary:hover {
  background-color: #40a9ff;
  border-color: #40a9ff;
}

.foot {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f8f8f8;
  padding: 10px 0;
  text-align: center;
  min-height: 50rem; /* Set a minimum height for the footer */
}
.about-us {
  font-family: inherit;
}